<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Add Event</h1>
          <button class="button button-clear button-primary" ng-click="closeEvent()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Title</span>
              <input ng-model="newEvent.firstName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Date</span>
              <input ng-model="newEvent.date" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Time</span>
              <input ng-model="newEvent.email" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Description</span>
              <input ng-model="newEvent.description" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="createContact(newUser)">ADD</button>
          </div>
        </ion-content>
</ion-modal-view>