<ion-view view-title="Events">
  <ion-content>
    <h1>Events</h1>
      <select ng-model="filterList">
        <option ng-repeat="category in eventLists.categories">{{category}}</option>
      </select>
      <ion-list>
        <ion-item ng-repeat="event in events | filter:(filterList || null) | orderBy: start_date">
          <p>Event Title: {{ event.title }}</p>
          <p>Category: {{ event.category }}</p>
          <p>Created By: {{ event.created_by }}</p>
          <p>Description: {{ event.description }}</p>
          <p>Latitude: {{ event.latitude }}</p>
          <p>Longitude: {{ event.longitude }}</p>
          <p>Start Date: {{ event.start_date }}</p>
          <p>Address: {{ event.address }}</p>
          <p>City: {{ event.city }}</p>
          <p>Zip: {{ event.zip }}</p>
          <button type="submit" ng-click="remove(event)">Delete Event</button>
          <a href="/#/{{event._id}}/edit">Edit Event</a>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
