<ion-view view-title="Your Event has been updated!">
  <ion-content>
    <h1>Event Updated</h1>
    <p>Event Title: {{ event.title }}</p>
    <p>Created By: {{ event.created_by }}</p>
    <p>Category: {{ event.category }}</p>
    <p>Description: {{ event.description }}</p>
    <p>Latitude: {{ event.latitude }}</p>
    <p>Longitude: {{ event.longitude }}</p>
    <p>Start Date: {{ event.start_date }}</p>

    <button type="button" ng-click="remove(event)">Delete Event</button>
  </ion-content>
</ion-view>

