<ion-view view-title="Events">
  <ion-content>
    <h1>Events</h1>
    <p>(Click in an event to edit)</p>
      <ion-list>
        <ion-item href="/#/app/event/{{event._id}}/edit" ng-repeat="event in events | filter: {created_by: '' } | orderBy: '+start_time'">
          <p>Event Title: {{ event.title }}</p>
          <p>Created By: {{ event.created_by }}</p>
          <p>Description: {{ event.description }}</p>
          <p>Latitude: {{ event.latitude }}</p>
          <p>Longitude: {{ event.longitude }}</p>
          <p>Start Date: {{ event.start_date }}</p>

          <button type="submit" ng-click="remove(event)">Delete Event</button>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>

