<ion-view view-title="Graphs">
  <ion-content>
    <h3>Data Visuals - Click on one!</h3>
    <div><a href="/#/app/graph/pie"><img ng-src="http://krispo.github.io/angular-nvd3/img/pieChart.png" class="graphs"></a></div>
    <div><a href="/#/app/graph/horizontal"><img ng-src="http://krispo.github.io/angular-nvd3/img/multiBarHorizontalChart.png" class="graphs"></a></div>
    <div><a href="/#/app/graph/donut"><img ng-src="http://krispo.github.io/angular-nvd3/img/donutChart.png" class="graphs"></a></div>
  </ion-content>
</ion-view>




