<div>
  <ul>
    <li class="new events" ng-repeat="event in events | filter: {created_by: '' } | orderBy: '+start_date'">
      <p>Event Id: {{ event._id }}</p>
      <p>Event Title: {{ event.title }}</p>
      <p>Created By: {{ event.created_by }}</p>
      <p>Description: {{ event.description }}</p>
      <p>Start Date: {{ event.start_date }}</p>
      <button type="submit" ng-click="remove(event)">Delete Event</button>
      <a href="/#/{{event._id}}/edit">Edit Event</a>
     </li>
  </ul>
</div>